<html>
    <head>
        <title>UN SITIO EN LA CUMBRE</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.youtube.com/watch?v=JA0_3BvMWZA&list=PLPj7Ug6rgLUxbN9fiZfsfL_1MUkzj1_CZ"><strong>UN SITIO EN LA CUMBRE</strong></a></h1>
        </div>

        {%for post in posts%} 
        <div>  

            <p> publicado: {{post.published_date}} </p>
            <h2> <a ref =" "> {{post.title}}</a></h2>
            <p> {{post.text| linebreaksbr}} </p>

         </div>       
        
        
        {%  endfor  %}
    </body>
</html>